* {
    box-sizing: border-box;
}

body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    background-color: rgb(228, 150, 122);
}

.title {
    font-size: 40px;
    font-weight: 900;
    padding-bottom: 40px;
    margin: 0px;
    color: rgb(64, 62, 59);
}

.size {
    max-width: 200px;
}

.noteheaders {

    font-size: 25px;
    font-weight: 600;
    color: rgb(43, 40, 40);
    margin-bottom: 40px;
}

.topnotescontainer {
    display: flex;
    justify-content: center;
    gap: 30px;
}

img {
    width: 65px;
    height: 65px;
  }