body {
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    font-size: 90px;
    color: maroon;
    font-weight: 900;
    display: flex;
    justify-content: center;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color:#666;
    display: flex;
    justify-content: center;
}

img {
    width: 100px;
    height: 100px;
  }

/* I leave the borders for now, it helps positioning when I use Flexbox*/
.header, .content, .footer {
    border: 4px solid black;
}

.size {
    border: 3px solid red;
    width: 500px;
}