body {
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #4c2a2a;
}

.header {
    font-size: 90px;
    color: rgb(168, 119, 119);
    font-weight: 900;
    display: flex;
    justify-content: center;
    font-style: italic;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.footer {
    background-color:#666;
    display: flex;
    justify-content: center;
    color: #d4d49b;
}

img {
    width: 100px;
    height: 100px;
  }

/* I leave the borders for now, it helps positioning when I use Flexbox*/
.header, .content, .footer {
    border: 4px solid black;
}

.size {
    /*border: 3px solid red;*/
    width: 500px;
    display: flex;
    gap: 16px;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    color: #d4d49b;
    font-weight: 800;
}

a:hover {
    background-color: #FFFFE0;
  }